[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = https://github.com/opscode-cookbooks/yum.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/rabbitmq"]
	path = cookbooks/rabbitmq
	url = https://github.com/opscode-cookbooks/rabbitmq.git
[submodule "cookbooks/erlang"]
	path = cookbooks/erlang
	url = https://github.com/opscode-cookbooks/erlang.git
[submodule "cookbooks/yum-epel"]
	path = cookbooks/yum-epel
	url = https://github.com/opscode-cookbooks/yum-epel.git
[submodule "cookbooks/yum-erlang_solutions"]
	path = cookbooks/yum-erlang_solutions
	url = https://github.com/opscode-cookbooks/yum-erlang_solutions.git
[submodule "cookbooks/line"]
	path = cookbooks/line
	url = https://github.com/someara/line-cookbook.git
[submodule "cookbooks/nfs"]
	path = cookbooks/nfs
	url = https://github.com/EndPointCorp/cookbook-nfs.git
	branch = saucy_upstart
[submodule "cookbooks/nodejs"]
	path = cookbooks/nodejs
	url = https://github.com/redguide/nodejs.git
[submodule "cookbooks/ark"]
	path = cookbooks/ark
	url = https://github.com/burtlo/ark.git
[submodule "cookbooks/chef-influxdb"]
	path = cookbooks/chef-influxdb
	url = https://github.com/malawski/chef-influxdb
[submodule "cookbooks/chef_handler"]
	path = cookbooks/chef_handler
	url = https://github.com/chef-cookbooks/chef_handler
[submodule "cookbooks/compat_resource"]
	path = cookbooks/compat_resource
	url = https://github.com/chef-cookbooks/compat_resource
[submodule "cookbooks/chef-grafana"]
	path = cookbooks/chef-grafana
	url = https://github.com/chef-cookbooks/chef-grafana
